@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Jost:wght@300;400&family=Lobster+Two&family=Sacramento&display=swap');

body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: white;
    --color3: white;
    --color4: white;
    --color5: white;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    background-color: rgb(146, 221, 217);
}

section {
    background-color: rgb(146, 221, 217);
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    /* border: solid 2px var(--color1); */
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    /* font-weight: bold; */
    font-size: 50px;
    font-family: 'Cookie', cursive;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 2px rgb(255, 255, 255, 0.4);
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

button {
    width: 100px;
    font-family: 'Jost', sans-serif;
    font-size: larger;
    justify-content: center;
    background-color: ##F6F6F6;
    color: black;
    border: #565656 2px solid;
    box-shadow: 2px 2px 5px #565656;
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 3px 2px 1px rgba(255, 255, 255, 0.2);
}
.shellsMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.shells {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.shellImg {
    height: 200px;
    margin: 5px;
    border-radius: 10px;
    border: #565656 2px solid;
}

.ball {
    background-image: radial-gradient(circle at 20px 20px, white, lightgray, whitesmoke, white);
    height: 50px;
    border-radius: 50%;
    border: whitesmoke 2px solid;
    width: 50px;
    position: absolute;
    margin: 10px;
    box-shadow: 6px 6px 5px rgba(0,0,0,0.6);
}

.results {
    margin: 25px;
    padding: 10px;
    background-color: #565656;
    color: whitesmoke;
    border-radius: 8px;
    border: black 2px solid;
    font-weight: bold;
    font-family: 'Jost', sans-serif;
    font-size: larger;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.4);
}

#giant {
    text-decoration: underline;
}

